.portfolio__slide {
  display: block;
  position: relative;
  width: 400px;
  height: 300px;

  /* backdrop-filter: blur(4px); */
}
.portfolio__image {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/portfolio-image1-purple.jpg) no-repeat bottom center;
  filter: blur(4px);
}
